<?php

	$GLOBALS['cfg']['db_main']['pass'] = 'S33KRET';	
	$GLOBALS['cfg']['db_users']['pass'] = 'S33KRET';	

	# See also:
	# flamework:bin/generate_secret.php

	$GLOBALS['cfg']['crypto_cookie_secret'] = 'S33KRET';
	$GLOBALS['cfg']['crypto_password_secret'] = 'S33KRET';
	$GLOBALS['cfg']['crypto_crumb_secret'] = 'S33KRET';

	# the end
